In [67]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.impute import SimpleImputer

In [68]:

countries =  ['Pakistan','India','Afghanistan','China']
cp = ['islamabad','delhi','kabul','beijing']
pp =  ['30M','130M','10M','140']
gd  =  ['2.14','4.22','Nan','4.42']

world = { 'Country': countries ,'Capital': cp ,'pop'   : pp ,'GDP'   : gd }

data = pd.DataFrame(world)
data

       Country    Capital   pop   GDP
0     Pakistan  islamabad   30M  2.14
1        India      delhi  130M  4.22
2  Afghanistan      kabul   10M   Nan
3        China    beijing   140  4.42

In [69]:
x = data.loc[:,'Country':'pop'].values
print(x)

y = data.loc[:,'GDP'].values
print(y)

[['Pakistan' 'islamabad' '30M']
 ['India' 'delhi' '130M']
 ['Afghanistan' 'kabul' '10M']
 ['China' 'beijing' '140']]
['2.14' '4.22' 'Nan' '4.42']